/* CSS blog ---------------------------------------------------------------------------------------------------------------*/
.h1{
	
}

.h2{
	
}

h3 {
font-size: 1.35rem;

}

h4 {
font-size: 1.30rem;

}

h5 {
font-size: 1.20rem;

}

.h6{
	
}

.h7{
	
}

.h8{
	
}

.h9{
	
}

.h10{
	
}

.p{
	
}

.ul{

}

.img{
	
}

.li{
	
}

